spring:
  application:
    name: <unknown>
debug: true
---
spring:
  profiles: dev
  application:
    name: dev-client
---
spring:
  profiles: configuration-client
  application:
    name: configuration-client
---
spring:
  profiles: configuration-service
  application:
    name: configuration-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/bcntec-learning/spring-2019/tree/master/05-configuration/data/
server:
  port: 8888